<!DOCTYPE html>
<html>
  <head>
    <title>Trainee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.rating %></p>

    <ul>
      <% @restaurants.each do |restaurant| %>
        <li><%= restaurant.name %></li>
      <% end %>
    </ul>

    <%= form_with model: @restaurant do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :address %>
      <%= f.text_field :address %>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
      <%= f.submit %>
    <% end %>
    
  </body>
</html>
